{% extends 'LocalLibary/base.html' %}
{% block title %} Delete {{book.title}} {{author.first_name}} {{author.last_name}} {% endblock %}
{% block contents %}

  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Confirm Delete</h3>
          <form method="post" novalidate>

            {% csrf_token %}
            <h5 class="card-title">Are you sure you want to delete {{book.title}} {{author.first_name}} {{author.last_name}}</h5>
            {% include 'registration/forms.html' %}
            <button type="submit" class="btn btn-primary btn-block">Delete</button>
          </form>
        </div>
       
      </div>
     
    </div>
  </div>
{% endblock %}
