{% extends 'LocalLibary/base.html'%}
{% block title%}Book's List - Bookie{% endblock %}
{% block contents %}
    <!--============================= MAIN TITLE =============================-->

 
    <!--//END POPULAR -->
    <!--============================= FEATURED LISTING =============================-->
    <section class="main-block featured-wrap">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="titile-block">
                        <h2>Books</h2>
                        <p>These Are all the Book Currently Available</p>
                    </div>
                </div>
            </div>


            <div class="row">
                {% for book in book_list %}  
                <div class="col-md-4 card-1">
                    <div class="card">
                              
                        <img class="card-img-top" src="{{book.book_image.url}}" width="250" height="250" alt="{{book.title}}">
                        <div class="card-body">
                            <a href="{{book.get_absolute_url}}"><h5 class="card-title">{{ book.title }}</h5></a>
                            <ul class="card-rating">
                            
                                <li>Free</li>
                                <li><i class="fa fa-circle" aria-hidden="true"></i></li>
                                <li> {% for genre in book.genre.all%} {{genre}}{% if not forloop.last%},{%endif%}{%endfor%}</li>
                            </ul>
                            <p class="card-text">{{book.summary}}</p>
                        </div>
                        <div class="card-bottom">
                            <p><i class="fa fa-male" aria-hidden="true"></i>{{book.author}}</p>
                            {%for copy in book.bookinstance_set.all%}<span class="open-close_green">{%if forloop.last%}Copies:{{forloop.counter}}{%endif%}</span>{% endfor %}
                          
                        </div>
                    </div>
                </div>
        {% endfor %}
            </div>

        </div>
   
            </section>
    <!--//END FEATURED LISTING -->
    <!--============================= DETAILED ITEM  =============================-->
   
    {% endblock %}
    <!--//END ADD LISTING -->
    <!--============================= FOOTER =============================-->
    